# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# Data folders
data/
outputs/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Testing / lint
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

# Logs / temp
*.log
*.tmp

# IDE
.vscode/
.idea/

# Large image files
*.tif
*.tiff